<section class="container mt-4" style="max-width: 90%;">
  <div class="row">
    <h3 class="text-center fw-normal mt-4">Transporte Registrado</h3>
    <table class="table mx-auto my-3" style="max-width: 80%;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Capacidad del Camión</th>
          <th scope="col">Disponibilidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each transportes}}
        <tr>
          <th scope="row">{{this.id_camion}}</th>
          <td>{{this.capacidad_camion}}</td>
          <td>{{this.disponibilidad}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>